<h2 mat-dialog-title>Ingresar Datos</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fecha Termino</mat-label>
      <input matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <div class="form-group col-md-6">
      <label for="oficina">Oficina</label>
      <select class="form-control" id="office" [(ngModel)]="newComunnes.office" name="office" required>
        <!-- Usamos 'branch' para obtener las oficinas -->
        <option *ngFor="let office of branch" [ngValue]="office">{{ office.branchName }}</option>
      </select>
    </div>



    <h3>Selecciona una comuna</h3>

    <mat-form-field appearance="fill">
      <mat-label>Selecciona una comuna</mat-label>

      <!-- mat-select para seleccionar la comuna -->
      <mat-select [(ngModel)]="selectedComuna" placeholder="Selecciona una comuna">

        <!-- Opción de búsqueda -->
        <div mat-select-search>
          <mat-form-field appearance="fill">
            <input matInput placeholder="Buscar" [(ngModel)]="searchTerm" />
          </mat-form-field>
        </div>

        <!-- Opciones filtradas -->
        <mat-option *ngFor="let comuna of filteredComunnes()" [value]="comuna">
          {{ comuna.communesName }}
        </mat-option>

      </mat-select>
    </mat-form-field>

    <h3>Selecciona un Colegio</h3>

    <mat-form-field appearance="fill">
      <mat-label>Selecciona un colegio</mat-label>

      <!-- mat-select para seleccionar el colegio -->
      <mat-select [(ngModel)]="selectedCollege" placeholder="Selecciona un colegio">

        <!-- Opción de búsqueda -->
        <div mat-select-search>
          <mat-form-field appearance="fill">
            <input matInput placeholder="Buscar" [(ngModel)]="searchTermCollege" />
          </mat-form-field>
        </div>

        <!-- Opciones filtradas -->
        <mat-option *ngFor="let college of filteredColleges()" [value]="college">
          {{ college.name }}
        </mat-option>

      </mat-select>
    </mat-form-field>

    <h3>Selecciona un Programa</h3>

    <mat-form-field appearance="fill">
      <mat-label>Selecciona un programa</mat-label>

      <!-- Aquí añadimos ngModel para enlazar el valor seleccionado -->
      <mat-select [(ngModel)]="selectedProgram" placeholder="Selecciona un programa">

        <!-- Opción de búsqueda -->
        <div mat-select-search>
          <mat-form-field appearance="fill">
            <input matInput placeholder="Buscar" [(ngModel)]="searchTermPrograms" />
          </mat-form-field>
        </div>

        <!-- Opciones filtradas -->
        <mat-option *ngFor="let program of filteredPrograms()" [value]="program">
          {{ program.tours_name }}
        </mat-option>

      </mat-select>
    </mat-form-field>



    <mat-form-field>
      <mat-label>Curso</mat-label>
      <input matInput formControlName="curso" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Temporada</mat-label>
      <input matInput formControlName="temporada" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Número Grupo</mat-label>
      <input matInput formControlName="numeroGrupo" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancelar</button>
  <button mat-button color="primary" (click)="onSave()">Guardar</button>
</mat-dialog-actions>