table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.action-buttons .button-grid {
    display: grid;
    /* Dos columnas => 2 íconos por fila */
    grid-template-columns: repeat(2, auto);
    /* Separación entre los botones */
    gap: 8px;
    /* Opcionalmente, centrar en ambas direcciones */
    justify-content: center;
    align-items: center;
}