/* Estilos generales para el contenedor del login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f9fc;
    font-family: 'Arial', sans-serif;
    flex-direction: column; /* Alinea los elementos en columna */
  }
  
  .login-logo-container {
    margin-bottom: 30px;  /* Agrega espacio debajo del logo */
  }
  
  .login-logo {
    width: 400px;  /* Aumenta el tamaño del logo */
    height: auto;
  }
  
  .login-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }
  
  input:focus {
    border-color: #4ca6f1;
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .forgot-password a {
    color: #4ca6f1;
    font-size: 14px;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4ca6f1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #368bbf;
  }