<h3>Selecciona Conductores</h3>

<mat-form-field appearance="fill">
  <mat-label>Selecciona un conductor</mat-label>
  <mat-select [(value)]="selectedDrivers" multiple>
    <!-- Trigger de selección -->
    <mat-select-trigger>
      {{ selectedDriverText }}
    </mat-select-trigger>

    <!-- Opción de búsqueda -->
    <div mat-select-search>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Buscar" [(ngModel)]="searchTerm" />
      </mat-form-field>
    </div>

    <!-- Opciones filtradas -->
    <mat-option *ngFor="let driver of filteredDriver()" [value]="driver">
      {{ driver.tourTripulationNameId }} {{ driver.tourTripulationIdentificationId }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- Botón para enviar los coordinadores seleccionados -->
<button mat-raised-button color="primary" (click)="sendDrivers()">Enviar Selección</button>