<mat-form-field appearance="fill">
    <mat-label>Selecciona un coordinador</mat-label>
    <mat-select [(value)]="selectedCoordinator">
      <!-- Trigger de selección -->
      <mat-select-trigger>
        {{ selectedCoordinator ? selectedCoordinator.coordinatorName + ' ' + selectedCoordinator.coordinatorLastname : 'Selecciona un coordinador' }}
      </mat-select-trigger>
  
      <!-- Opción de búsqueda (fuera de mat-option para no cerrar el select) -->
      <div mat-select-search>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Buscar" [(ngModel)]="searchTerm" />
        </mat-form-field>
      </div>
  
      <!-- Opciones filtradas -->
      <mat-option *ngFor="let coordinator of filteredCoordinators()" [value]="coordinator">
        {{ coordinator.coordinatorName }} {{ coordinator.coordinatorLastname }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  