<div class="main-content" style="width: 100%; padding: 20px">
    <div class="container-fluid" style="width: 100%; padding: 20px">
        <div class="row">
            <div class="col-md-12" style="width: 100%; padding: 20px">
                <div class="button-container"
                    style="display: flex;gap: 15px;justify-content: start;margin-bottom: 10px;">
                    <button mat-raised-button color="primary" (click)="addPassenger()" disabled>
                        Agregar Pasajero
                    </button>
                    <button mat-raised-button color="primary" (click)="triggerFileInput()">
                        Carga Masiva de Pasajeros
                    </button>
                    <!-- Input file oculto -->
                    <input #fileInput type="file" (change)="onFileSelected($event)" accept=".xlsx,.xls"
                        style="display: none" />
                    <button mat-raised-button color="warning" (click)="downloadTemplatePassenger()">
                        Descargar plantilla Pasajeros
                    </button>
                    <button mat-raised-button color="warning" (click)="downloadPassengers()">
                        Descargar Pasajeros
                    </button>
                </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Mantenedor Pasajeros</h4>
                    </div>
                    <div class="card-body">
                        <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 10px;">
                            <mat-label>Buscar pasajero</mat-label>
                            <input matInput (keyup)="applyFilter($event)"
                                placeholder="Filtra por nombre, rut, email..." />
                        </mat-form-field>
                        <table mat-table [dataSource]="dataSourceAlumnos" matSort class="mat-elevation-z8">
                            <ng-container matColumnDef="codigoGira">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-cell">Código de Gira
                                </th>
                                <td mat-cell *matCellDef="let element" class="table-cell" style="padding-right:16px;"
                                    matTooltip="Colegio: {{element.collegeName}}| Comuna: {{element.communeName}}| Curso: {{element.passengersCourse}}"
                                    matTooltipPosition="above">
                                    {{element.codigoGira}}</td>
                            </ng-container>
                            <ng-container matColumnDef="passengersIdentification">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-cell">Rut</th>
                                <td mat-cell *matCellDef="let element" class="table-cell" style="padding-right:16px;">
                                    {{element.passengersIdentification}}</td>
                            </ng-container>
                            <ng-container matColumnDef="passengersNames">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-cell">Nombre</th>
                                <td mat-cell *matCellDef="let element" class="table-cell">
                                    {{element.passengersNames}}</td>
                            </ng-container>
                            <ng-container matColumnDef="passengersFatherLastName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-cell">Apellidos</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.passengersFatherLastName }} {{ element.passengersMotherLastName }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="passengersBirthDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-cell">Nacimiento</th>
                                <td mat-cell *matCellDef="let element" class="table-cell" style="padding-right:16px;">
                                    {{element.passengersBirthDate}}</td>
                            </ng-container>
                            <ng-container matColumnDef="passengersSex">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-cell">Sexo</th>
                                <td mat-cell *matCellDef="let element" style="padding-right:16px;">
                                    {{ element.passengersSex }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="passengersEmail">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-cell">Email</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.passengersEmail }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="passengersPhone">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-cell">Celular</th>
                                <td mat-cell *matCellDef="let element" style="padding-right:16px;">
                                    {{ element.passengersPhone }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef class="table-cell">Acciones</th>
                                <td mat-cell *matCellDef="let element" class="action-buttons">
                                    <button mat-icon-button [color]="element.medicalRecord ? 'accent' : 'primary'"
                                        matTooltip="Ficha Medica" (click)="medicalRecord(element)">
                                        <mat-icon>medical_information</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="editarPasajero(element)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="eliminarPasajero(element)" style="color:red;">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsAlumnos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsAlumnos"></tr>
                        </table>
                        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                            showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>